/Unidad01/AppDemo01/nbproject/private/
/Unidad01/AppDemo01/build/
/Unidad01/AppDemo/AppDemo01/build/
/Unidad01/AppDemo/AppDemo01/nbproject/private/
/Unidad01/AppDemo01/AppDemo01/build/
/Unidad01/AppDemo01/AppDemo01/nbproject/private/
/Unidad01/PjAppDemo01/AppDemo01/build/
/Unidad01/PjAppDemo01/AppDemo01/nbproject/private/
/Unidad01/PjAppPedido/AppPedido/build/
/Unidad01/PjAppPedido/AppPedido/dist/
/Unidad01/PjAppPedido/AppPedido/nbproject/private/
/Unidad01/PjViaExitos/ViaExitos/build/
/Unidad01/PjViaExitos/ViaExitos/nbproject/private/
/Unidad01/AprendiendoJava/nbproject/private/
/Unidad01/PracticaDirigida/PracticaDirigida/nbproject/private/
/Unidad01/PracticaDirigida/PracticaDirigida/build/
/Unidad02/SecureMoneyExchange/MoneyExchange/nbproject/private/
/Unidad02/SecureMoneyExchange/MoneyExchange/build/
/Unidad02/SMEApp/build/
/Unidad02/SMEApp/dist/
/Unidad02/SMEApp/nbproject/private/
/Unidad03/DemoJDBC/nbproject/private/
/Unidad03/DemoJDBC/build/
/Unidad03/DemoJDBC/dist/
/Unidad03/PA3-Grupo-20/MiProductoAcademico/nbproject/private/
/Unidad03/PA3-Grupo-20/MiProductoAcademico/build/
/Unidad04/PA3-Grupo-20/MiProductoAcademico/build/
/Unidad04/PA3-Grupo-20/MiProductoAcademico/nbproject/private/
/Unidad04/EF-Grupo-20/MiProductoAcademico/build/
/Unidad04/EF-Grupo-20/MiProductoAcademico/nbproject/private/
/Unidad04/EF-Grupo-20/EF-GPO-20/nbproject/private/
/Unidad04/POO-EXAMEN-FINAL/EFGrupo20/nbproject/private/
/Unidad04/POO-EXAMEN-FINAL/EFGrupo20/build/
/Unidad04/POO-EXAMEN-FINAL/EFGrupo20/dist/